@model _9_MyAcademy_MVC_CodeFirst.Data.Entities.Product

@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Product</h2>

<form method="post">
    @Html.HiddenFor(x=>x.Id)

    <label>Product Name</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" required />
    <br />
    <label>Product Description</label>
    <textarea name="Description" class="form-control" required rows="5">@Model.Description</textarea>
    <br />
    <label>Product Image Url</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" required />
    <br />
    <label>Price</label>
    <input type="text" name="Price" value="@Model.Price" class="form-control" required />
    <br />
    <label>Category</label>
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, "Select Category", new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-dark">Save</button>
</form>